/* Styling each card */

.list__card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 160px;
   height: 160px;
   background-color: pink;
   padding: 0.5rem;
   font-weight: 300;
   border-radius: 8px;
   overflow: hidden;
}

.card__header {
   font-size: var(--fs-normal);
   letter-spacing: 1px;
   text-transform: uppercase;
   text-align: center;
}

.card__para {
   justify-self: flex-start;
   max-width: 100%;
   padding: 5px;
   margin: 1rem 0;
   line-height: 1.5;
   background-color: transparent;
   border-radius: 5px;
   border: 1px solid black;
   box-shadow: 2px 2px 3px #999;
   resize: none;
   height: 100%;
}

.card__button {
   max-width: 60px;
   margin: 0 auto;
   cursor: pointer;
   padding: 0.25rem;
   background-color: transparent;
   border: 1px solid transparent;
}
.card__button:hover,
.card__button:active {
   border-bottom: 1px solid black;
   /* border-radius: 8px; */
}
