/* Form styling */

.add__container {
   position: absolute;
   top: 20%;
   left: 0;
   margin-top: 1rem;
   padding: 1rem;
   border: 2px solid black;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   background-color: #fff;
   z-index: 2;
   transform: translateX(-100%);
   transition: all 0.5s ease-in-out;
}
.add__container--open {
   transform: translateX(0);
   box-shadow: 6px -5px 18px -9px rgba(66, 68, 90, 1);
}

.add__open {
   position: absolute;
   right: -31px;
   top: 50%;
   transform: translateY(-50%);
   width: 30px;
   height: 80px;
   border: none;
   background-color: white;
   border-top: 2px solid black;
   border-right: 2px solid black;
   border-bottom: 2px solid black;
   border-left: none;
   border-top-right-radius: 8px;
   border-bottom-right-radius: 8px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.5rem;
}

.add__form > * {
   margin-top: 1rem;
}

.add__form > input[type="submit"] {
   padding: 0.5rem 0.75rem;
   background-color: #fff;
   border: 2px solid black;
   outline: none;
}

.form__label {
   display: block;
   margin-bottom: 0.25rem;
}

.form__control > input {
   padding: 0.5rem;
}
.form__control > textarea {
   width: 100%;
   min-height: 100px;
   resize: none;
}

/* Custom radio buttons */
.radio {
   margin-top: 1rem;
   width: 50%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   position: relative;
   padding: 0.5rem 0;
   margin-left: 0.5rem;
   font-weight: 300;
   text-align: center;
   cursor: pointer;
}

.radio:hover input ~ span {
   border: 2px solid #bb342f;
}

.radio input:checked ~ span {
   border: 2px solid #003844;
}

.radio input {
   position: absolute;
   opacity: 0;
   cursor: pointer;
   height: 0;
   width: 0;
}
.radio span {
   position: absolute;
   bottom: 0;
   left: -0.5rem;

   width: 100%;
   height: 100%;
   z-index: -1;
   background-color: pink;
}

.radio:nth-of-type(1) span {
   background-color: #d6d84f;
}
.radio:nth-of-type(2) span {
   background-color: #ddc3d0;
}
.radio:nth-of-type(3) span {
   background-color: #b3efb2;
}
