.task__info__container {
    position: absolute;
    left: 100%;
    top: 0;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 8px;
    min-width: 200px;
    z-index: 99;
}

.task__info__header {
    text-align: center;
    margin-bottom: 1.5rem;
}
.task__info__list {
    list-style: none;
}
.task__info__list > * {
    margin-top: 2.5rem;
}
.task__info__listItem > * {
    margin-bottom: 1rem;
}

.task__info__label {
    margin-bottom: 0.5rem;
}
